html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

hr {
    margin-top: 0.2em !important;
    margin-bottom: 0.2em !important;
}

#divMain {
    /* text-align: center; */
    padding-top: 5%;
}

.flex-vertical {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40vw;
    margin-right: auto; 
    margin-left: auto;
    /* border: 1px solid lightcoral; */
}

.flex-horizontal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid lightseagreen; */
}

#inputString {
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    resize: vertical;
    width: 40vw;
    height: 10vh;
    max-height: 40vh;
    padding: 1%;
    transition: border 0.2s ease;
    outline: 1px solid grey;
    border: 3px solid transparent;
}

#inputString:focus {
    outline: none;
    border: 3px solid rgb(170, 31, 37);
}

#resultContainer {
    width: 34vw;
}

.result {
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    color: grey;
    cursor: pointer;
    transition: 0.05s ease;
}

.result:hover {
    color:rgb(17, 128, 17) !important; /* potentially bad practice? */
}

.result:active {
    color: darkgreen !important; /* potentially bad practice? */
}

.cross {
    margin-top: 1.25%;
    margin-left: 1%;
    width: 5%;
    height: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0.6;
    transition: 0.05s ease;
    align-self: start;
}

.cross:hover {
    opacity: 1;
}

.cross:active {
    margin-top: 1.2%;
    opacity: 1;
}

div.selectpopup {
    display: none;
    list-style: none;
    position: absolute;
    width: 3em; 
    padding: 0.5em;
    box-shadow: 3px 3px 15px -10px black;
    border-radius: 10px;
    background: rgb(202, 202, 202);
}

div.selectpopup::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0px 0px 15px 15px;
    border-color: transparent rgb(202, 202, 202);
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 15px;
}

div.selectpopup.popupitems {
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 1%;
}

.popupcross {
    width: 2em;
    height: 2em;
    cursor: pointer;
    transition: 0.05s ease;
    filter: brightness(1.2);
}

.popupcross:hover {
    filter: brightness(0.8);
}

.popupcross:active {
    margin-top: 1.2%;
    opacity: 1;
}

#listbutton {
    margin-top: 1vh;    
    margin-left: 1vh;    
    width: 12.5%;
    height: 11vh;
}

.listContainer {
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.4);
    display: none;
    border: 1px solid rgb(170, 31, 37);
    width: 102%;
    min-height: 11vh;
    max-height: 50vh;
    margin-top: 1vh;  
    margin-left: -1.1%;  
    overflow-y: scroll;
}

.listColumn {
    color: rgb(24, 24, 24);
    width: 33.3333%;
    padding: 0.5em;
}

.listColumn p {
    color: rgb(65, 65, 65);
    font-size: 16px;
    overflow-wrap: normal;
    cursor: pointer;
}

#positiveList {
    float: left;
}

#negativeList {
    display: inline-block;
}

#customList {
    float: right;
}

.listPhrase {
    color: rgb(65, 65, 65);
    text-decoration: none;
    transition: 0.1s ease;
}

.listPhrase:hover {
    color: rgb(102, 19, 23);
    text-decoration: line-through;
}
