html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#divMain {
    /* text-align: center; */
    padding-top: 5%;
}

.flex-vertical {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-horizontal {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#inputString {
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    resize: vertical;
    width: 40vw;
    height: 10vh;
    max-height: 40vh;
    padding: 1%;
    transition: border 0.2s ease;
    outline: 1px solid grey;
    border: 3px solid transparent;
}

#inputString:focus {
    outline: none;
    border: 3px solid rgb(170, 31, 37);
}

.result {
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    color: grey;
    margin-top: 1%;
    cursor: pointer;
    transition: 0.05s ease;
}

.result:hover {
    color:rgb(17, 128, 17) !important; /* potentially bad practice? */
}

.result:active {
    color: darkgreen !important; /* potentially bad practice? */
}

.cross {
    margin-top: 1.25%;
    margin-left: 1%;
    width: 2.5%;
    height: 2.5%;
    cursor: pointer;
    /* visibility: hidden; */
    opacity: 0.6;
    transition: 0.05s ease;
}

.cross:hover {
    opacity: 1;
}

.cross:active {
    margin-top: 1.2%;
    opacity: 1;
}

div.selectpopup {
    display: none;
    list-style: none;
    position: absolute;
    max-width: 5%; 
    padding: 0.5em;
    box-shadow: 3px 3px 15px -10px black;
    border-radius: 10px;
    /* border-bottom-left-radius: 0px */
    background: rgb(202, 202, 202);
}

div.selectpopup::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0px 0px 15px 15px;
    border-color: transparent rgb(202, 202, 202);
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 15px;
}

div.selectpopup.popupitems {
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 1%;
}

.popupcross {
    width: 40%;
    height: 40%;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.05s ease;
}

.popupcross:hover {
    opacity: 1;
    filter: brightness(1.25);
}

.popupcross:active {
    margin-top: 1.2%;
    opacity: 1;
}